<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>UCMS</title>
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <link rel="stylesheet" href="../styles/header.css" />
  </head>

  <body>
    <header>
      <img src="../images/small-logo.png" alt="로고" class="small-logo" />
      <div class="header-right">
        <div class="user-info" id="userInfo">로그인 정보 불러오는 중...</div>
        <a href="/auth/logout" class="logout-btn">로그아웃</a>
      </div>
    </header>

    <main>
      <div class="func-btn-container">
        <span class="category-icon">👨‍👩‍👧‍👦</span>
        <div class="func-btn" onclick="location.href='/member'">부원 관리</div>
      </div>
      <div class="func-btn-container">
        <span class="category-icon">🐥</span>
        <div class="func-btn" onclick="location.href='/recruit/responses'">응답 조회</div>
        <div class="func-btn" onclick="location.href='/recruit'">면접 타임테이블</div>
        <div class="func-btn" onclick="location.href='/recruit'"></div>
      </div>
      <div class="func-btn-container">
        <span class="category-icon">🗓️</span>
        <div class="func-btn" onclick="location.href='/schedule'">일정 관리</div>
        <div class="func-btn" onclick="location.href='/'"></div>
      </div>
      <div class="func-btn-container">
        <span class="category-icon">💰</span>
        <div class="func-btn" onclick="location.href='/member'">회비 장부</div>
        <div class="func-btn" onclick="location.href='/'"></div>
      </div>
    </main>

    <script src="../js/userinfo.js"></script>
  </body>
</html>
