<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>UCMS-마이페이지</title>
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <link rel="stylesheet" href="../styles/header.css" />
  </head>

  <body>
    <header>
      <img
        src="../images/small-logo.png"
        alt="로고"
        class="small-logo"
      />
      <div class="header-right">
        <div class="user-info" id="userInfo">
          로그인 정보 불러오는 중...
        </div>
        <a href="/auth/logout" class="logout-btn">로그아웃</a>
      </div>
    </header>

    <main></main>

    <script src="../js/userinfo.js"></script>
  </body>
</html>
